<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <script src="./bootstrap/js/bootstrap.min.js" defer></script>

    <link rel="stylesheet" href="./styles/style.css" />
    <link rel="stylesheet" href="./styles/navbar.css" />
    <link rel="stylesheet" href="./styles/toastr.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="./scripts/jquery.validate.js" defer></script>

    <script src="./scripts/script.js" defer></script>
    <script src="./scripts/nav.js" defer></script>
    <script src="./scripts/toastr.js" defer></script>
    <title>Login Page</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <img src="./images/logo.svg" alt="logo">
                <a class="brand-title" href="/">Three Dots</a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="/products-client">Products</a></li>
                </ul>
            </div>
        </nav>



    </header>
    <main>
        <div class="form">
            <h2>Login</h2>

            <form id="loginForm" action="/api/auth" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input id="email" name="email" required type="text" value="" class="form-control" />
                </div>


                <div class="form-group">
                    <label>Password</label>
                    <input id="password" name="password" required type="password" value="" class="form-control" />
                </div>
                <div class="form-group">
                    <button id="form-button" class="btn btn-primary">Login</button>

                </div>

                <div class="form-group">
                    <p>Dont have an account? <a href="/">Register</a></p>
                </div>
            </form>
        </div>

    </main>
    <img class="big-circle" src="./images/big-eclipse.svg" alt="">
    <img class="medium-circle" src="./images/mid-eclipse.svg" alt="">
    <img class="small-circle" src="./images/small-eclipse.svg" alt="">
</body>

</html>
<script>
    $(function () {
        var vm = {};
        var token;
        var isAdmin;

        $("button").click(function () {
            vm.email = $("#email").val();
            vm.password = $("#password").val();

            var validator = $("#loginForm").validate({
                submitHandler: function () {
                    // $.ajax({
                    //     url: "/api/auth",
                    //     method: "POST",
                    //     data: vm

                    // })
                    $.ajax({
                        type: 'POST',
                        url: '/api/auth',
                        data: vm,
                        success: function (data, textStatus, request) {
                            // isAdmin = request.responseText;
                            isAdmin=data.isAdmin;
                            token= request.getResponseHeader('x-auth-token');
                            sessionStorage.setItem('somedata', token);
                            sessionStorage.setItem('userId', data._id);
                            sessionStorage.setItem('isAdmin', isAdmin);

                        }

                        // error: function (request, textStatus, errorThrown) {
                        //     alert(request.getResponseHeader('x-auth-token'));
                        // }
                    })

                        .done(function () {
                            console.log(isAdmin);
                            if(isAdmin==true){
                                window.location.replace("/products-admin");
                            } else {
                                window.location.replace("/products-client");
                            }
                            

                        }).fail(function () {
                            toastr.error("Invalid email or password.");
                        });

                    return false;
                }
            });
        });
    });

</script>