<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.min.js" defer></script>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/scripts/jquery.validate.js" defer></script>

    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>
 -->

    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.min.css" />
    <script type="text/javascript" src="/DataTables/datatables.min.js"></script>

    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/toastr.css" />
    <style>
        h2 {
            margin-top: 100px;
        }
    </style>


    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/nav.js" defer></script>
    <script src="./scripts/toastr.js" defer></script>
    <script src="/scripts/bootbox.min.js" defer></script>
    <title>All Orders</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <img src="/images/logo.svg" alt="logo">
                <a class="brand-title" href="#">Three Dots</a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="/products-admin">Home</a></li>
                    <li><a id="logout" href="/">Log Out</a></li>
                </ul>
            </div>
        </nav>



    </header>
    <main>
        <div class="list">
            <h2>All Orders</h2>
            <table id="orders" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Total Price</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>

            </table>
        </div>



    </main>
    <img class="big-circle" src="/images/big-eclipse.svg" alt="">
    <img class="medium-circle" src="/images/mid-eclipse.svg" alt="">
    <img class="small-circle" src="/images/small-eclipse.svg" alt="">
</body>

</html>
<script>
    $(function () {
        const data10 = sessionStorage.getItem('somedata');
        $("#logout").click(function () {
            alert("Are you sure want to logout?");
            sessionStorage.clear();
        });
        var table = $("#orders").DataTable({
            ajax: {
                url: "/api/orders",
                dataSrc: ""
            },
            columns: [
                {
                    data: "user",
                    render: function (data, type, order) {
                        return "<p>" + order.user.email + "</p>";
                    }
                },
                {
                    data: "product",
                    render: function (data, type, order) {
                        return "<p>" + order.product.name + "</p>";
                    }


                },
                {
                    data: "quantity",
                    render: function (data, type, order) {
                        return "<p>" + order.quantity + "</p>";
                    }


                },
                {
                    data: "totalPrice",
                    render: function (data, type, order) {
                        return "<p>" + order.totalPrice + "</p>";
                    }


                },
                {
                    data: "_id",
                    render: function (data) {
                        return "<button class='table-button' id='deletebutton' data-order-id=" + data + ">Delete</button>";
                    }
                }

            ]
        });
        $("#orders").on("click", "#deletebutton", function () {
            var button = $(this);

            bootbox.confirm("Are you sure want to delete this order?", function (result) {
                if (result) {
                    $.ajax({
                        url: "/api/orders/" + button.attr("data-order-id"),
                        // data: {"token":data10},
                        beforeSend: function (xhr) {
                            xhr.setRequestHeader("x-auth-token", data10);
                        },
                        method: "DELETE",
                        success: function () {
                            table.row(button.parents("tr")).remove().draw();
                        }
                    });
                }
            });

        });
    });

</script>