<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.min.js" defer></script>

    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/toastr.css" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/scripts/jquery.validate.js" defer></script>

    <script src="/scripts/script.js" defer></script>
    <script src="/scripts/nav.js" defer></script>
    <script src="./scripts/toastr.js" defer></script>
    <title>New Product Form</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo-container">
                <img src="/images/logo.svg" alt="logo">
                <a class="brand-title" href="#">Three Dots</a>
            </div>
            <a href="#" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
            <div class="navbar-links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>



    </header>
    <main>
        <h2>New Product</h2>

        <form id="productForm" enctype="multipart/form-data" action="/api/products" method="post">
            <div class="form-group">
                <label>Name</label>
                <input id="name" name="name" required type="text" value="" class="form-control" />
            </div>

            <div class="form-group">
                <label>Stock Quantity</label>
                <input id="quantity" name="quantity" required type="number" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label>Price</label>
                <input id="price" name="price" required type="text" value="" class="form-control" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" value="" class="form-control"></textarea>
            </div>
            
            <div class="form-group">
                <label>Image</label>
                <input id="file" name="file" type="file" value="" class="form-control" />
            </div>


            <button class="btn btn-primary">Save</button>
        </form>
    </main>
    <img class="big-circle" src="/images/big-eclipse.svg" alt="">
    <img class="medium-circle" src="/images/mid-eclipse.svg" alt="">
    <img class="small-circle" src="/images/small-eclipse.svg" alt="">
</body>

</html>
<script>
    $(function () {
        var vm = {};
        $("button").click(function () {

            vm.name = $("#name").val();
            vm.quantity = $("#quantity").val();
            vm.price = $("#price").val();
            vm.description = $("#description").val();

            var validator = $("#productForm").validate({

                submitHandler: function () {
                    var formData = new FormData(document.getElementById('productForm'));
                    // var formData=new FormData(this);
                    $.ajax({
                        url: "/api/products",
                        method: "POST",
                        data: formData,
                        processData: false,
                        contentType: false

                    }).done(function () {
                        toastr.success("Product added successfully.");


                        $("#name").val("");
                        $("#quantity").val("");
                        $("#price").val("");
                        $("#description").val("");
                        $("#file").val("");

                        vm = {};

                        validator.resetForm();

                    }).fail(function () {
                        toastr.error("Something went wrong.");
                    });


                    return false;
                }
            });
        });
    });

</script>